/* Стилизирует секцию Герой */

.hero {
  text-align: center;
  background-color: var(--scnd-bgc);
  padding-top: 200px;
  padding-bottom: 200px;
}

/* Стилизурет фон Героя */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img-hw-4/overlay.jpg);
}

.hero .container {
  margin-top: 0;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: var(--white);

  margin-bottom: 30px;
}

.button {
  display: inline-block;
  outline: transparent;
  /* padding: 10px 32px; аналогично написаному ниже*/
  padding-top: 10px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  background-color: var(--accent);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--white);
}

.title {
  text-align: center;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
}

/* Стилизация секции Особенности  */

.features .list {
  display: flex;
}

.features-list .item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--third-bgc);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background: url(../img-hw-4/antenna.svg);
}
.icon-clock::before {
  background: url(../img-hw-4/clock.svg);
}
.icon-diagram::before {
  background: url(../img-hw-4/diagram.svg);
}
.icon-astronaut::before {
  background: url(../img-hw-4/astronaut.svg);
}

.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  display: block;
  min-width: 270px;
  min-height: 16px;
  margin-bottom: 10px;
}
.features-skill {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.features-container .list {
  display: flex;
  justify-content: space-between;
}

.features-container .item {
  width: calc((100% - 90px) / 4);
}

/* Чем мы занимаемся */

.works-section {
  padding-top: 0px;
}

.works-title {
  text-align: center;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}
.works .list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.works .list:nth-child(3n + 1) {
  margin-left: 0;
}

.works .item {
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

/* Стилизация секции Наша команда */

.team {
  background-color: var(--third-bgc);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team .item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 30px);
  background-color: var(--white);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  margin-bottom: 10px;
}

.team .position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  margin-bottom: 16px;
}

.team-container .social-icons {
  display: flex;
  justify-content: space-between;
}

.team-container .team-content {
  padding: 30px 32px;
}

.social-icons-svg {
  height: 20px;
  width: 20px;
  fill: var(--svg-icons);
}

.social-icons-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent);
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: white;
}
.clients-list {
  display: flex;
  justify-content: space-between;
}
.clients-item-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.clients-icons-svg {
  fill: var(--svg-icons);
}

.clients-item-link:hover,
.clients-item-link:focus {
  border: 1px solid var(--accent);
}

.clients-item-link:hover .clients-icons-svg,
.clients-item-link:focus .clients-icons-svg {
  fill: var(--accent);
}

.footer-container {
  display: flex;
}
.footer-social-links {
  padding-top: 12px;
  margin-left: 70px;
  width: 206px;
  height: 80px;
}
.footer-follow {
  margin-bottom: 20px;

  width: 145px;
  height: 16px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* background-color: green; */
  color: var(--white);
}

.footer-icons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.footer .social-icons-link {
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}
.footer .social-icons-svg {
  fill: var(--white);
}

.footer .social-icons-link:hover,
.footer .social-icons-link:focus {
  background: var(--accent);
}

/*ОСТОРОЖНО КОСТЫЛЬ!!!!!!*/

.page-header .info-link {
  display: flex;
}
/* .page-header .info-link {
  display: flex;
}

.info-link {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  font-weight: 500;
  text-decoration: none;
}

.info-link:hover,
.info-link:focus {
  color: var(--accent);
}

.icon {
  margin-right: 10px;
  fill: currentColor;
} */
